<div style="color:green; font-size:24px"><%= notice %></div>
<h1><%= @user %></h1>
<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, data: {"turbo-method": "delete"} %>
<% else %>
    <%= link_to "Sign in", user_session_path %>
    <br>
    <%= link_to "Sign up", new_user_registration_path %>
<% end %>
